<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activity Details</title>
  </head>
  <body>
    <h1>Activity Details:</h1>
    <% if (activity) { %>
    <span>Activity date: <%= activity.date %></span> <br />
    <span>Category: <%= activity.activityType %></span>
    <p>Activity: <%= activity.activity %></p>
    <% } %>
  </body>
</html>
