<% layout('layouts/boilerplate') -%>
<form action="/activities" method="POST">
  <label for="type">Activity Type:</label>
  <select name="activityType" id="type">
    <% activityTypes.forEach(type => { %>
    <option value="<%= type %>"><%= type %></option>
    <% }) %>
  </select>
  <label for="activity">Activity:</label>
  <input
    type="text"
    id="activity"
    name="activity"
    placeholder="Went to bed at 9:30pm"
  />
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" value="2023-09-20" />
  <button>Add new activity</button>
</form>
