<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThingTracker</title>
  </head>
  <body>
    <h1>ThingTracker</h1>
    <p>Here is my amazing page</p>
  </body>
</html>
